<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>

    <div id="container">
        <nav>
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#if isAuthenticated}}
                    <li><a href="/add">Add car</a></li>
                    {{/if}}
                </ul>
            </div>
            <div class="right-container">
            {{#if isAuthenticated}}
                <a href="/profile/{{userId}}" class="log-out">{{username}}</a>
                <a href="/auth/logout" class="log-out">Logout</a>
                {{else}}
                <li><a href="/auth/login">LogIn</a></li>
                <li><a href="/auth/register">Register</a></li>
            {{/if}}
            </div>
        </nav>

        {{{body}}}

        <footer>@Doncho & Miroslav - Cars Application</footer>
    </div>

</body>

</html>