<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="car-ticket">
        <div class="hotel-left">
            <img src="{{car.imageUrl}}" alt="">
        </div>
        <div class="car-right">
            <div class="flex">
                <p>Brand: </p>
                <p>{{brand.brand}}</p>
            </div>
            <div class="flex">
                <p>Model:</p>
                <p>{{car.model}}</p>
            </div>
            <div class="flex">
                <p>Price:</p>
                <p>{{car.price}}BGN</p>
            </div>
            <div class="flex">
                <p>Owner:</p>
                <p><span>{{user.username}}</span> </p>
            </div>
            <div class="flex">
                <p>Contacts:</p>
                <p><span>{{user.phone}}</span> </p>
            </div>
            {{#if isAuthenticated}}
            {{#if isOwner}}
            <a href="/edit/{{car._id}}" class="edit">Edit</a>
            <a href="" class="remove">Delete</a>
            {{/if}}
            {{/if}}
        </div>
    </div>
</section>