<section id="viewhotelDetails">
    <div class="profile">
        {{#if profile.profileImg}}
        <img src="{{profile.profileImg}}" alt="default user">
        {{/if}}
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{profile.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{profile.email}}</p>
        </div>
        <div class="flex">
            <p>Phone Number: </p>
            <p>
                <span>{{profile.phone}}</span>
            </p>
        </div>
    </div>
    <a href="/profile/edit/{{userId}}" class="edit">Upload Photo</a>
</section>